.d-flex.justify-content-start-align-items-center.flex-column.bg-light.rounded.p-2
    a.dashboard-sidebar-item(href="#")
        i.feather-16(data-feather="users")
        div.mx-2 Users
    a.dashboard-sidebar-item(href="#")
        i.feather-16(data-feather="dollar-sign")
        div.mx-2 Billings